# üé¨ Movie Database (IMDb-Style)
### üìÅ Step 1: Load & Clean Dataset | üìä Step 2: MySQL Import

## ‚úÖ Step 1: Load the Raw CSV

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv("../data/imdb_top_1000.csv")

# Preview
df.head()

## ‚úÖ Step 2: Clean the Data

In [ ]:
# Remove 'min' from Runtime and convert to int
df['Runtime'] = df['Runtime'].str.replace('min', '').str.strip()
df['Runtime'] = pd.to_numeric(df['Runtime'], errors='coerce')

# Remove commas from Gross and Votes
df['Gross'] = df['Gross'].astype(str).str.replace(',', '')
df['No_of_Votes'] = df['No_of_Votes'].astype(str).str.replace(',', '')

# Convert to numeric (handle missing values)
df['Gross'] = pd.to_numeric(df['Gross'], errors='coerce')
df['No_of_Votes'] = pd.to_numeric(df['No_of_Votes'], errors='coerce')
df['Meta_score'] = pd.to_numeric(df['Meta_score'], errors='coerce')

## ‚úÖ Step 3: Save the Cleaned CSV

In [ ]:
df.to_csv("../data/imdb_top_1000_cleaned.csv", index=False)
print("‚úÖ Cleaned CSV saved successfully!")

## ‚úÖ Step 4: SQL Table Schema (MySQL Reference)

```sql
CREATE DATABASE IF NOT EXISTS imdb;
USE imdb;

CREATE TABLE movies (
    id INT AUTO_INCREMENT PRIMARY KEY,
    series_title VARCHAR(255),
    released_year INT,
    certificate VARCHAR(20),
    runtime INT,
    genre VARCHAR(255),
    imdb_rating FLOAT,
    meta_score INT,
    director VARCHAR(255),
    star1 VARCHAR(255),
    star2 VARCHAR(255),
    star3 VARCHAR(255),
    star4 VARCHAR(255),
    no_of_votes INT,
    gross BIGINT
);
```

## ‚úÖ Step 5: Import CSV into MySQL (Manual)
- Open **MySQL Workbench**
- Go to the `imdb` database
- Right-click **Tables ‚Üí Table Data Import Wizard**
- Choose `imdb_top_1000_cleaned.csv`
- Map columns correctly
- Finish ‚úÖ